# macOS system files
.DS_Store

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Private keys
jonnie-vpc.pem

# Certbot configuration and sensitive data
data/certbot/conf/accounts/acme-staging-v02.api.letsencrypt.org/directory/*/meta.json
data/certbot/conf/accounts/acme-staging-v02.api.letsencrypt.org/directory/*/private_key.json
data/certbot/conf/accounts/acme-staging-v02.api.letsencrypt.org/directory/*/regr.json
data/certbot/conf/ssl-dhparams.pem
data/certbot/conf/options-ssl-nginx.conf

# Other outputs and temporary files
*.out
.bundle/
